<div id="willappear" ng-if="!$ctrl.fetchedarr.length">
    <div id="pusher">
        <img src="img/Magnify@2x.png"><br>
        <span>Your results will appear here</span>
    </div>
</div>

<searchitem itemtype="item.type" itemimgs="item.images" itemid="item.id" ng-repeat="item in $ctrl.fetchedarr track by $index">
    <h5>{{item.name}}</h5>
    <img ng-src="{{item.images[1]['url']}}" width="263" height="263">
</searchitem>
<div id="showmemore-button" ng-click="$ctrl.showmemore();"
     ng-show="!!$ctrl.fetchedarr.length && ($ctrl.fetchedarr.length<($ctrl.artiststotal + $ctrl.artiststotal))">
    <span>SHOW ME MORE</span>
</div>