* {
box-sizing: border-box;
-webkit-box-sizing: border-box;
-moz-box-sizing: border-box;
margin: 0;
padding: 0;
}

body{
  background-color: #323440;
}
#gllogo{
  height: 100px;
  width: 80px;
  margin-left: 20px;
  margin-top: 20px;
}
.header{
  height: 640px;
  background: url('../img/hero-img@2x.png');
  background-repeat: no-repeat;
  background-size: 60%;
  background-color: #CF4284;
  background-position: 50%;
  width: 1440px;
  margin-left: auto;
  margin-right: auto;
  position: relative;
}

main{
  background-color: #383A49;
  background-image: url('../img/Magnify@2x.png');
  background-repeat: no-repeat;
  background-size: 100px;
  background-position: 50% 50%;
  width: 1440px;
  min-height: 400px;
  margin-left: auto;
  margin-right: auto;
  border: 1px solid transparent;
  position: relative;
}

nav {
  background-color: #323440;
  height: 80px;
  width: 1440px;
  margin-left: auto;
  margin-right: auto;
  padding-top: 15px;
}
#poweredby {
  color: #ffffff;
  font-family: Raleway;
  font-size: 16.0px;
  font-style: normal;
  font-stretch: normal;
  font-weight: 400;
  float: right;
  margin: 20px;
  text-align: right;
}
#pusher {
  float: left;
  margin-left: -140px;
  margin-top: 50px;
}
#search-container {
  position: relative;
  width: 640px;
  height: 50px;
  margin-left: auto;
  margin-right: auto;
}
#search-button {
  border-radius: 30px;
  width: 120px;
  height: 40px;
  background: #d05d84;
  position: absolute;
  top: 5px;
  right: 5px;
  text-align:center;
  padding-top: 10px;
}
#search-button span {
  width: 120px;
  height: 19px;
  color: #ffffff;
  font-family: Raleway;
  font-size: 16.0px;
  font-style: normal;
  font-stretch: normal;
  font-weight: 400;
  text-align: center;
  vertical-align: 20px;
}
nav input{
  height: 50px;
  width: 640px;
  border-radius: 50px;
  padding-right: 120px;
  padding-left: 23px;
  color: #7f6c6c;
  font-family: Raleway;
  font-size: 16.0px;
  font-style: normal;
  font-stretch: normal;
  font-weight: 400;
  text-align: left;
}

#willappear {
  width: 555px;
  height: 29px;
  color: #464857;
  font-family: Raleway;
  font-size: 24.0px;
  font-style: normal;
  font-stretch: normal;
  font-weight: 400;
  text-align: center;
  position: absolute;
  top: 50%;
  left: 50%;
}

footer{
  background-color: #323440;
  text-align: center;
  height: 80px;
  width: 1440px;
  margin-left: auto;
  margin-right: auto;
  padding-top: 33px;
}

#footer-text{
  width: 382px;
  height: 19px;
  color: #fffefe;
  font-family: Raleway;
  font-size: 16.0px;
  font-style: normal;
  font-stretch: normal;
  font-weight: 500;
  text-align: center;
}
