<div id="modal-container" ng-show="$ctrl.showmodal">
    <div id="modal-dimmed-part">
    </div>
    <figure id="modal-data-container">
        <div class="firstRow" style="background-image: url('{{$ctrl.modalpicture.url}}')">
            <img id="modalCross" src="/img/Cross@2x.png" height="20" width="20" ng-click="$ctrl.showmodal = false"/>
            <span id="albumTitle">{{$ctrl.modaltitle}}</span>
        </div>
        <div class="secondRow">
            <div id="captionContainer">
                <span>{{$ctrl.modaltype == 'artist'? 'Albums':'Tracks'}}</span>
            </div>
            <div id="albumRowsContainer">
                <div class="albumRow" ng-repeat="item in $ctrl.modaldata track by $index">
                    <div ng-show="$ctrl.modaltype=='artist'" class="albumImgContainer" style="background-image:url('{{item.images[2].url}}')"></div>
                    <div class="albumDataContainer">
                        <div class="albumNameContainer">{{item.name}}</div>
                        <div class="albumYearContainer">{{$ctrl.modaltype == 'artist'? '-':$ctrl.formatDate(item.duration_ms)|date:'mm:ss'}}</div>
                    </div>
                </div>
            </div>
        </div>
    </figure>
</div>