<div class="searchitem {{$ctrl.itemtype}}" >
    <style>
        #id{{$ctrl.itemid}}:before{
            background-image:url('{{$ctrl.itemimgs[1]['url']}}');
        }
    </style>
    <div class="itempic cell A1" id="id{{$ctrl.itemid}}" style="height: 263px; width: 263px;">
        <div class="itempicContainer txt">
            <img ng-src="{{$ctrl.itemtype=='album'? '/img/album-icon@2x.png':'/img/artist-icon@2x.png'}}">
            {{$ctrl.itemtype=='album'? 'View tracks':'View albums'}}
        </div>
    </div>
    <div class="itemnamecontainer">
        <div class="itemname" ng-transclude="name">
        </div>
    </div>
</div>