<div class="searchitem {{$ctrl.itemtype}}" >
    <div class="itempic cell A1" style="height: 263px; width: 263px;">
        <div class="alBg" style="background-image:url('{{$ctrl.itemimgs[1]['url']}}')"></div>
        <div class="itempicContainer txt">
            <img ng-src="{{$ctrl.itemtype=='album'? '/img/album-icon@2x.png':'/img/artist-icon@2x.png'}}">
            {{$ctrl.itemtype=='album'? 'View tracks':'View albums'}}
        </div>
    </div>
    <div class="itemnamecontainer">
        <div class="itemname" ng-transclude="name">
        </div>
    </div>
</div>